<form action="#" method="post">
    <div class="form-control">
        <img class="profile-picture" src="<%= user.urlPicture %>" alt="" srcset="">
      </div>
    <div class="form-control">
        <input type="text" name="name" required  value=<%= user.name %> />
        <label>Name</label>
      </div>
      
      <div class="form-control">
        <input type="text" name="username" required value=<%= user.username %>  />
        <label>Username</label>
      </div>

      <div class="form-control">
        <input type="text"  name="mail" required value=<%= user.mail %> />
        <label>Email</label>
      </div>

      <div class="form-control">
        <input type="date" name="birthday" required value=<%= user.birthday %> />
       
      </div>
      
    
</form>

<script src="/js/login.js"></script>
